
<!DOCTYPE html>
<html>
  <head>
    <title>File Metadata Get</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/64c112e2-bb36-4740-a575-ab841d0f7d77%2F5a174075-5b55-4fb6-9ade-a35feeed6039%252Ffavicon.ico?1501603745999" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    

    <main>
      <p class="bold">Oh hi,</p>
      <p> Send me your file</p>
      <form action="/upload" enctype="multipart/form-data" method="POST">
        <input type="file" name="someFile" required>
        <button type="submit" id="sendFile">GO</button>
      </form>
    </main>


    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
